<style>
   .navbar{
  display: none;
  visibility: hidden;
   }
</style>

<div class="login-background">
   <section class="container">
      <div class="login-box">
         <h2 class="custom-title-text">Clock In App</h2>
         <h1>Login</h1>
         <%= form_tag '/login' do %>
            <%= label_tag :email%>
            <%= text_field_tag :email %><br><br>
            <%= label_tag :password%>
            <%= password_field_tag :password%><br><br>
            <%= submit_tag "Log In"%>
         <%end%>
         <%= flash[:incorrect_login] %>
         <br>
         <p>Don't have an account?</p>
         <%= button_to "Register", '/users/new', method: :get%>
      </div>
   </section>
</div>

