<section class="container">
   <div class="box">
      <h1>Login</h1>
      <%= form_tag '/login' do %>
         <%= label_tag :email%>
         <%= text_field_tag :email %><br><br>
         <%= label_tag :password%>
         <%= password_field_tag :password%><br><br>
         <%= submit_tag "Log In"%>
      <%end%>
      <br>
      <p>IF YOU DON'T HAVE AN ACCOUNT</p>
      <%= button_to "Register", '/users/new', method: :get%>
   </div>
</section>