
<section class="container">
  <div class="box">
    <%= form_tag '/timesheet/week' do %>
      <%= week_field_tag :week %>
      <%= submit_tag 'Submit', class: 'timesheet-button'%>
    <% end %>
    <br>
    <table class='timesheet'>
      <thead>
        <tr>
          <th scope='col'></th>
          <th scope='col'>Monday</th>
          <th scope='col'>Tuesday</th>
          <th scope='col'>Wednesday</th>
          <th scope='col'>Thursday</th>
          <th scope='col'>Friday</th>
        </tr>
      </thead>
      <tbody>
          <% for i in 0..3 do %>
            <tr>
              <th><%= @entry_types[i] %></td>
              <% for j in 0..4 do %>
                <% if @weekdays[j].where(entry_type:i).first.nil? %>
                  <td>-</td>
                <% else %>
                  <td><%= @weekdays[j].where(entry_type:i).first.entry_time.strftime('%H:%M')%></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>

    <%= link_to 'Download as Excel', show_timesheet_path(format: :xlsx) %>

    <form action='/entries'>
      <input class='timesheet-button' type='submit' value='Back'>
    </form>
  </div>
</section>

