<h1>Entries</h1>
<form action='/timesheet/current'>
   <input type='submit' value='View Timesheets'>
</form>

<%= form_tag '/entries' do %>
   <%= hidden_field_tag 'entry_type', 0 %>
   <%= submit_tag "AM Start" %>
<%end%>
<%= form_tag '/entries' do %>
   <%= hidden_field_tag 'entry_type', 1 %>
   <%= submit_tag "AM Finish" %>
<%end%>
<%= form_tag '/entries' do %>
   <%= hidden_field_tag 'entry_type', 2 %>
   <%= submit_tag "PM Start" %>
<%end%>
<%= form_tag '/entries' do %>
   <%= hidden_field_tag 'entry_type', 3 %>
   <%= submit_tag "PM Finish" %>
<%end%>