<!DOCTYPE html>
<html>
  <head>
    <title>Clock In App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class='navbar'>
      <li><a href='/entries' class='navbar-link' id='navbar-image'><%= image_tag 'cat.png', class: 'navbar-logo' %><h1 id='navbar-title'>Clock in cats</h1></a></li>
      <% if logged_in? %>
        <li class="navbar-push"><a class='navbar-link' href='/entries'>Clock In/Out</a></li>
        <li><a class='navbar-link' href='/timesheet/current'>Timesheets</a></li>
        <li><a class='navbar-link' href='/logout'>Log Out</a></li>
      <% end %>
    </ul>
    <%= yield %>
    <footer>
      <p class="copyright">Clock in Cats © 2021</p>
    </footer>
  </body>
</html>
